<section
    class='tab {{tabs.settings.cssClass}} {{tabs.settings.id}}'
    data-tab='{{tabs.settings.id}}'
    data-group='{{tabs.settings.group}}'
>
    <fieldset class='two-columns'>
        <legend>{{localize 'DAGGERHEART.Item.settings.settings'}}</legend>
        <span>{{localize 'DAGGERHEART.Item.settings.type'}}:</span>
        <select name='system.type'>
            {{selectOptions config.equipment.type selected=item.system.type localize=true}}
        </select>
        <span>{{localize 'DAGGERHEART.Item.settings.price'}}:</span>
        <div class='nest-inputs price-inputs'>
            <span data-tooltip='{{localize "DAGGERHEART.Item.currency.coins"}}'>
                <i class='fa-solid fa-coins'></i>
                <input type='number' name='system.currency.coins.value' value='{{item.system.currency.coins.value}}' />
            </span>
            <span data-tooltip='{{localize "DAGGERHEART.Item.currency.handfuls"}}'>
                <i class='fa-solid fa-hands-holding-circle'></i>
                <input
                    type='number'
                    name='system.currency.handfuls.value'
                    value='{{item.system.currency.handfuls.value}}'
                />
            </span>
            <span data-tooltip='{{localize "DAGGERHEART.Item.currency.bags"}}'>
                <i class='fa-solid fa-sack-dollar'></i>
                <input type='number' name='system.currency.bags.value' value='{{item.system.currency.bags.value}}' />
            </span>
            <span data-tooltip='{{localize "DAGGERHEART.Item.currency.chests"}}'>
                <i class='fa-solid fa-toolbox'></i>
                <input
                    type='number'
                    name='system.currency.chests.value'
                    value='{{item.system.currency.chests.value}}'
                />
            </span>
        </div>
    </fieldset>

    {{#if (eq item.system.type 'weapon')}}
        <fieldset class='two-columns'>
            <legend>{{localize 'DAGGERHEART.Item.settings.weapon'}}</legend>
            <span>{{localize 'DAGGERHEART.Item.settings.subtype'}}:</span>
            <select name='system.subtype'>
                {{selectOptions config.equipment.subtype.weapon selected=item.system.subtype localize=true}}
            </select>
            <span>{{localize 'DAGGERHEART.Item.settings.burden'}}:</span>
            <select name='system.burden'>
                {{selectOptions config.equipment.burden selected=item.system.burden localize=true}}
            </select>
            <span>{{localize 'DAGGERHEART.Item.settings.range'}}:</span>
            <select name='system.range'>
                {{selectOptions config.equipment.range selected=item.system.range localize=true}}
            </select>
            <span>{{localize 'DAGGERHEART.Item.settings.attribute'}}:</span>
            <select name='system.trait'>
                {{selectOptions config.attributes selected=item.system.trait localize=true}}
            </select>
            <span>{{localize 'DAGGERHEART.Item.settings.type'}}:</span>
            <select name='system.damage.type'>
                {{selectOptions config.attackType selected=item.system.damage.type localize=true}}
            </select>
            <span>{{localize 'DAGGERHEART.Item.settings.proficiencyInDamage'}}</span>
            <input type='checkbox' name='system.usesProficiency' {{checked item.system.usesProficiency}} />
            <span>{{localize 'DAGGERHEART.Item.settings.damageFormula'}}:</span>
            <input type='text' name='system.damage.value' value='{{item.system.damage.value}}' />
        </fieldset>
    {{/if}}

    {{#if (eq item.system.type 'armor')}}
        <fieldset class='two-columns'>
            <legend>{{localize 'DAGGERHEART.Item.settings.armor'}}</legend>
            <span>{{localize 'DAGGERHEART.Item.settings.baseScore'}}</span>
            <input type='number' name='system.baseScore' value='{{item.system.baseScore}}' />
            <span>{{localize 'DAGGERHEART.Item.settings.usedArmorSlots'}}:</span>
            <input type='number' name='system.armorSlots' value='{{item.system.armorSlots}}' />
            <span>{{localize 'DAGGERHEART.Item.settings.thresholds'}}:</span>
            <div class='nest-inputs'>
                <input
                    type='number'
                    name='system.damageThreshold.major.value'
                    value='{{item.system.amageThreshold.major.value}}'
                    data-tooltip='{{localize "DAGGERHEART.Actor.threshold.major"}}'
                />
                <span>/</span>
                <input
                    type='number'
                    name='system.amageThreshold.severe.value'
                    value='{{item.system.amageThreshold.severe.value}}'
                    data-tooltip='{{localize "DAGGERHEART.Actor.threshold.severe"}}'
                />
            </div>
        </fieldset>
    {{/if}}

</section>