<nav class='char-tab sheet-tabs tabs' data-group='primary'>
    {{!-- TODO: Use tab object of char-sheet--}}
    <!-- <h3>Summary</h3>
    <h3>Domain Cards</h3>
    <h3>Inventory</h3>
    <h3>Biography</h3>
    <h3>Effects</h3> -->
    <a class="{{tab.cssClass}}" data-tooltip='Summary' data-action="tab" data-group="primary" data-tab="summary"><i class='fa-solid fa-user'></i></a>
    <a class="{{tab.cssClass}}" data-tooltip='Domain Cards' data-action="tab" data-group="primary" data-tab="domainCards"><i class="fa-solid fa-tablet"></i></i></a>
    <a class="{{tab.cssClass}}" data-tooltip='Inventory'><i class="fa-solid fa-bag-shopping"></i></i></a>
    <a class="{{tab.cssClass}}" data-tooltip='Biography'><i class="fa-solid fa-book"></i></i></a>
    <a class="{{tab.cssClass}}" data-tooltip='Effects'><i class="fa-solid fa-person-rays"></i></i></a>
</nav>