<section
    class='tab {{tabs.description.cssClass}} {{tabs.description.id}}'
    data-tab='{{tabs.description.id}}'
    data-group='{{tabs.description.group}}'
>
    {{formInput
        fields.description
        value=source.system.description
        enriched=description
        toggled=true
        compact=true
        classes='slim'
    }}
</section>