<section
    class='tab {{tabs.features.cssClass}} {{tabs.features.id}}'
    data-tab='{{tabs.features.id}}'
    data-group='{{tabs.features.group}}'
>
    <fieldset class='one-column'>
        <legend>{{localize 'DAGGERHEART.Item.tabs.features'}}
            <a data-action='addFeature'> <i class='fa-solid fa-plus'></i></a></legend>
        <div class='feature-list'>
            {{#each item.system.features as |feature|}}
                {{> 'systems/daggerheart/templates/items/global/partials/feature-section-item.hbs' feature=feature}}
            {{/each}}
        </div>
    </fieldset>
</section>